{% extends "managementapp/master.html"%}
{% load static%}

{% block title%}

{% endblock%}



{% block content%}

<marquee behavior="alternate" direction="left" width="1250" height="50"><h1><span style="color: orange;">The</span><span style="color: white;">Kiran</span><span style="color: green;">Academy</span></h1></marquee>

<div style="width:1350px;height: 600px;">
    <div style="width:650px;height: 600px;float:left;margin: 0cm -0.8cm 0cm;text-align: left;background-color: rgb(62, 62, 238)">
        <h1><span style="color: rgb(8, 8, 137);">Top rated IT Training Classes in Pune</span></h1>
<h1><span style="color: white;";>Java, Selenium, Python, AWS, Azure, Salesforce Courses with 100% Job Placement Support</span></h1>
<h5><span style="color: yellow;">Looking to become a Software Engineer, Programmer, Tester, IT Consultant in Leading Software MNC's ?</span></h5>


    </div>

    <div style="width:700px;height: 600px;float:left;">
        <div style="width:350px;height: 600px;float:left;">
            <img src="{% static 'images/jbk.jpg'%}" alt="" width="350px" height="300px">
            <img src="{% static 'images/jbk2.jpg'%}" alt="" width="350px" height="300px">

        </div>

        <div style="width:350px;height: 600px;float:left;">
            <img src="{% static 'images/jbk1.jpg'%}" alt="" width="350px" height="300px">
            <img src="{% static 'images/jbk3.jpg'%}" alt="" width="350px" height="300px">

        </div>

    </div>
</div>
<div style="width: 1350px;height: 100px;">


</div>

<div style="width:1350px;height: 600px;margin: 0cm -0.8cm 0cm;">
    <div style="width:450px;height: 600px;float:left;">
        <div style="width:410px;height: 300px;">
            <img src="{% static 'images/jbk5.png'%}" alt="" width="450px" height="300px">
        </div>

        <div style="width:410px;height: 300px;">
            <h4>Java Certification Training in Pune</h4><br>
            <h5>3.5-month course duration</h5><br>
            <h5>Batch: Java Online & Classroom</h5><br>
            <h6>Java is a High-Level Language Used to Develop Mobile<br> Applications, Web Applications, Application Programs,<br> New Software, Dynamic Websites, and Games. We Offer Java Classes in Pune. Our Java Classes in will make you <br>future bright.</h6>
        </div>
    </div>
    <div style="width:410px;height: 600px;float:left;">
        <div style="width:450px;height: 300px;">
            <img src="{% static 'images/jbk6.jpg'%}" alt="" width="450px" height="300px">
        </div>

        <div style="width:410px;height: 300px;">
            <h4>Python Programming Training in Pune</h4><br>
            <h5>3.5-month course duration</h5><br>
            <h5>Batch: Python Online & Classroom</h5><br>
            <h6>Python is a popular and versatile
            programming language used in various industries, from web development to scientific research. If you're interested in pursuing a career in Python then explore the exciting field related to python training course.</h6>
        </div>
    </div>

    <div style="width:410px;height: 600px;float:left;">
        <div style="width:450px;height: 300px;">
            <img src="{% static 'images/jbk7.png'%}" alt="" width="450px" height="300px">
        </div>

        <div style="width:410px;height: 300px;">
            <h4>Selenium Automation Training in Pune</h4><br>
            <h5>3.5-month course duration</h5><br>
            <h5>Batch: Selenium Online & Classroom</h5><br>
            <h6>A career in Selenium Automation Testing can be a rewarding and challenging one. As web-based applications continue to gain popularity, the demand for skilled Selenium Automation Testers is increasing rapidly. We offer Best Selenium Testing Training Classes in Pune.</h6>
    </div>

</div>

{% endblock%}
